Repository kweejeboo/yandex-diploma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, helm

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

helm:
  stage: module-pipelines
  trigger:
    include:
    - /infrastructure/momo-store-chart/.gitlab-ci.yml
    strategy: depend

added proper helm path
  infrastructure/momo-store-chart/.gitlab-ci.yml
Due: helm

proper helm path added
  infrastructure/momo-store-chart/.gitlab-ci.yml
Due: helm

fixed helm deploy
  infrastructure/momo-store-chart/.gitlab-ci.yml
Due: helm

added namespace to helm upload
  infrastructure/momo-store-chart/.gitlab-ci.yml
Due: helm

minor fixes
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

minor fixes
  backend/.gitlab-ci.yml
Due: backend

updated readme.md
  README.md
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  helm: any of: infrastructure/momo-store-chart/**/*
